@(url: URLModel, form: Form[URLForm.URLData], postUrl: Call)(implicit request: MessagesRequestHeader)

    @main("URLs") {

        <div id="content" class="wrapper doc">
            <article>
                <h1>Welcome to ChatMeter</h1>

                @* Code challenge form *@

                    @helper.form(postUrl) {
                        @helper.CSRF.formField

                        <div class="form-group">
                            @helper.input(form("url")) { (id, name, value, args) =>
                                <input type="url" class="form-control" name="@name" id="@id" placeholder="https://www.google.com/" @toHtmlArgs(args)>
                            }
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    }

                    @* Global errors are not tied to any particular form field *@
                    @if(form.hasGlobalErrors) {
                        @form.globalErrors.map { error: FormError =>
                            <div>
                                @error.key: @error.message
                            </div>
                        }
                    }

                @if(url != null && !url.title.equals("")) {
                    <blockquote>
                        <div id="code-challenge-output">@url.title</div>
                    </blockquote>
                }
                @if(url != null && url.title.equals("")) {
                    <blockquote>
                        <div id="code-challenge-output">URL Not Found or Not Valid</div>
                    </blockquote>
                }

            </article>

        </div>
    }
